.content {
    flex-direction: row;
    display: flex;
    gap: 136px;
    padding: 64px 112px;
}

.hd-content {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.hd-content h1,
.content h1 {
    /* Heading/H2/Extrabold/Desktop */
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;

    /* Color/Black */
    color: #0d0e0e;

    /* Position and size */
    margin: 0;
}

.hd-content .subtitle {
    /* Paragraph/Medium/Regular */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    /* Color/Black */
    color: #363838;

    /* Position and size */
    margin: 0;
}

.hd-content .supportive-text {
    /* Paragraph/Medium/Regular */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    /* Color/Black */
    color: #363838;

    /* Position and size */
    margin: 0;
}

.col {
    flex-direction: column;
    gap: 16px;
}

.hd-header {
    flex: 1;
}

.hd-content {
    flex: 1;
}

.country-flag {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.country-flag .flag-icon {
    margin-right: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75);
}

fieldset {
    border: none;
    flex-direction: row;
    display: flex;
    gap: 22px;

    /* Position and size */
    padding: 0;
    margin: 0;
}

.input-box {
    flex-direction: column;
    display: flex;
    flex: 1;
}

select {
    background-color: inherit;
    border: none;
    border-radius: 0%;
    flex-grow: 1;
}

.country-selector {
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    padding-bottom: 5px;
}

#emoji {
    margin: 0;
}

input[type="submit"] {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* Position and size */
    min-width: 100px;
    min-height: 48px;
    height: fit-content;

    /* Color and Shape */
    background: #264653;
    box-sizing: border-box;
    border-radius: 6px;
}

input[type="submit"] {
    /* Paragraph/Medium/Semi-bold */
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;

    /* Position and size */
    margin: 0;
    padding: 12px 20px;
}

input[type="submit"]:hover {
    transform: scale(1.05);

    /* Color and Shape */
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.input-box label {
    /* Paragraph/Small/Medium */
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;

    /* Color/Black */
    color: #0d0e0e;
}

form {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0px;
    gap: 22px;
}

.disclaimer {
    /* Paragraph/XSmall/Regular */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;

    /* Color/Black */
    color: #6b6f70;

    /* Position and size */
    margin: 0;
    text-justify: auto;
}

input {
    /* Neutral/200 */
    border: 0;
    border-bottom: 1px solid #e1e2e3;
    padding: 10px 0px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

textarea {
    resize: none;
    background: #ffffff;
    border: 1px solid #e1e2e3;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 6px;
}

input:focus,
textarea:focus {
    /* Neutral/200 */
    outline: none;
    border-color: #c886ff;
}
