.content {
    flex-direction: row;
    display: flex;
    gap: 136px;
    padding: 64px 112px;
}

.hd-content {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.hd-content h1,
.content h1 {
    /* Heading/H2/Extrabold/Desktop */
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;

    /* Color/Black */
    color: #0d0e0e;

    /* Position and size */
    margin: 0;
}

.hd-content .subtitle {
    /* Paragraph/Medium/Regular */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    /* Color/Black */
    color: #363838;

    /* Position and size */
    margin: 0;
}

.hd-content .supportive-text {
    /* Paragraph/Medium/Regular */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    /* Color/Black */
    color: #363838;

    /* Position and size */
    margin: 0;
}

.col {
    flex-direction: column;
    gap: 16px;
}

.hd-header {
    flex: 1;
}

.hd-content {
    flex: 1;
}

.country-flag {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.country-flag .flag-icon {
    margin-right: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75);
}

fieldset {
    border: none;
    flex-direction: row;
    display: flex;
    gap: 22px;

    /* Position and size */
    padding: 0;
    margin: 0;
}

.input-box {
    flex-direction: column;
    display: flex;
    flex: 1;
}

select {
    background-color: inherit;
    border: none;
    border-radius: 0%;
    flex-grow: 1;
}

.country-selector {
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    padding-bottom: 5px;
}

#emoji {
    margin: 0;
}

input[type="submit"] {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* Position and size */
    min-width: 100px;
    min-height: 48px;
    height: fit-content;

    /* Color and Shape */
    background: #264653;
    box-sizing: border-box;
    border-radius: 6px;
}

input[type="submit"] {
    /* Paragraph/Medium/Semi-bold */
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;

    /* Position and size */
    margin: 0;
    padding: 12px 20px;
}

input[type="submit"]:hover {
    transform: scale(1.05);

    /* Color and Shape */
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.input-box label {
    /* Paragraph/Small/Medium */
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;

    /* Color/Black */
    color: #0d0e0e;
}

form {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0px;
    gap: 22px;
}

.disclaimer {
    /* Paragraph/XSmall/Regular */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;

    /* Color/Black */
    color: #6b6f70;

    /* Position and size */
    margin: 0;
    text-justify: auto;
}

input {
    /* Neutral/200 */
    border: 0;
    border-bottom: 1px solid #e1e2e3;
    padding: 10px 0px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

textarea {
    resize: none;
    background: #ffffff;
    border: 1px solid #e1e2e3;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 6px;
}

input:focus,
textarea:focus {
    /* Neutral/200 */
    outline: none;
    border-color: #c886ff;
}

.delete-btn:hover {
    cursor: pointer;
    color: #ff0000;
}

.delete-btn:active > i {
    transform: scale(0.9);
}

.delete-btn {
    font-size: 20px;
    margin-left: 10px;
    border: none;
    background: inherit;
}

th {
    text-align: left;
    font-weight: 900;
    font-size: 16px;
    padding: 10px 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table tbody td {
    /* Paragraph/Small/Regular */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0px;

    /* Color/Black */
    color: #0d0e0e;
}

table tbody tr {
    border-bottom: 1px solid #e1e2e3;
}

table tbody tr:last-child {
    border-bottom: none;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #ddd;
}

@media (max-width: 768px) {

    .content {
        flex-direction: column;
        padding: 64px 32px;
    }

    .hd-content {
        align-items: center;
        text-align: center;
    }

    .hd-content h1 {
        font-size: 24px;
        line-height: 32px;
    }

    .hd-content .subtitle {
        font-size: 14px;
        line-height: 20px;
    }

    .hd-content .supportive-text {
        font-size: 14px;
        line-height: 20px;
    }

    fieldset {
        border: none;
        flex-direction: column;
        display: flex;
        gap: 22px;

        /* Position and size */
        padding: 0;
        margin: 0;
    }
    
    table,
    tbody,
    th,
    td,
    tr,
    tfoot {
        display: block;
    }

    table thead {
        display: none;
    }

    th {
        text-align: center;
        padding: 0.5em;
    }

    td {
        text-align: center;
        padding: 0.5em;
        border-bottom: 1px solid #ddd;
    }

    td:first-child::before {
        content: " Index: ";
        float: left;
        font-weight: bold;
    }

    td:nth-child(2)::before {
        content: " First Name: ";
        float: left;
        font-weight: bold;
    }

    td:nth-child(3)::before {
        content: " Last Name: ";
        float: left;
        font-weight: bold;
    }

    td:nth-child(4)::before {
        content: " Email: ";
        float: left;
        font-weight: bold;
    }

    td:nth-child(5)::before {
        content: " Country: ";
        float: left;
        font-weight: bold;
    }

    td:nth-child(6)::before {
        content: " Message: ";
        float: left;
        font-weight: bold;
    }

    td:last-child::before {
        content: " Delete: ";
        float: left;
        font-weight: bold;
    }
}
